/* Reset */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

ul[class] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

a[class] {
  text-decoration: none;
}

/* Variables */

:root {
  --white: #fff;
  --white-07: rgba(255,255,255, 0.7);
  --grey: #F6F6F8;
  --light-grayish-blue: #E1E6F6;
  --light-blue :#DBDBED;
  --bright-blue-05: rgba(35, 82, 222, 0.5);
  --blue: #2352DE;
  --main-text: #333;
  --black: #000;
}

/* Global */

body {
  background-color: var(--white);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--main-text);
}

section {
  padding-top: 140px;
  padding-bottom: 140px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title {
  display: inline-block;
  font-size: 48px;
  line-height: 130%;
  font-weight: 700;
  margin-bottom: 60px;
  position: relative;
  z-index: 1;
}

.title:before {
  content: '';
  position: absolute;
  height: 15px;
  width: calc(100% - 6px);
  left: 3px;
  bottom: 5px;
  background-color: var(--light-grayish-blue);
  z-index: -1;
}

.text {
  margin-bottom: 30px;
}

.btn {
  font-weight: 600;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  outline-width: 0;
  padding: 12px 24px;
  transition: box-shadow .5s, background-color .5s, color .5s, border .5s;
}

.btn:focus {
  box-shadow: 0px 0px 0px 3px var(--bright-blue-05);
}

.btn:hover {
  background-color: var(--white);
  color: var(--blue);
  border: 1px solid var(--blue);
}

.btn:active {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  outline-width: 0;
  box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
}

/* Header */

.header {
  min-height: 100vh;
  background: url(../images/header-bg.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.header::before {
  content: '';
  background-color: var(--bright-blue-05);
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 75px;
}

.logo {
  transition: outline .5s, opacity .5s;
}

.logo:focus {
  outline: 3px solid var(--blue);
}
.logo:hover {
  opacity: 0.7;
}
.logo:active {
  opacity: 0.5;
}

.menu__list {
  display: flex;
}

.menu__list-item+.menu__list-item {
  margin-left: 35px;
}

.menu__list-link {
  font-weight: 600;
  line-height: 130%;
  color: var(--white);
  transition: text-decoration .5s, outline .5s, opacity .5s;
}

.header__content {
  min-height: calc(100vh - 128px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.header__content-text {
  width: 60%;
  font-size: 48px;
  line-height: 130%;
  color: var(--white);
  margin-top: auto;
  margin-bottom: auto;
}

.header__content-text span {
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
}

.header__content-link {
  position: absolute;
  display: block;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: var(--white);
  left: 50%;
  transform: translateX(-50%);
  bottom: 33px;
  transition: text-decoration .5s, outline .5s, opacity .5s;
}
 

.header__content-link::before {
  position: absolute;
  content: '';
  width: 37px;
  height: 21px;
  background: url(../images/header-icon-link.svg);
  left: 50%;
  transform: translateX(-50%);
  top: 33px;
}

.menu__list-link:focus,
.header__content-link:focus {
  outline: 2px solid var(--white-07);
  border-radius: 5px;
}

.menu__list-link:hover,
.header__content-link:hover {
  text-decoration: underline;
}

.menu__list-link:active,
.header__content-link:active {
  opacity: 0.7;
}

/* About */

.about {
  padding-bottom: 110px;
}

/* Skills */

.skills {
  background-color: var(--grey);
}

.skills__inner {
  display: flex;
}

.skills__numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 90px;
  width: 100%;
  padding: 91px 0;
}

.skill__progress {
  display: flex;
  justify-content: space-between;
}

.skill__progress-title {
  font-weight: 600;
  line-height: 32px;
}

.skill__progress-row {
  background-color: var(--light-blue);
  width: 600px;
  margin-left: auto;
  position: relative;
}

.skill__progress-row span {
  position: absolute;
  font-size: 0;
}

.skill__progress-row span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 32px;
  background-color: var(--blue);
}

/* Services */

.services__list {
  display: flex;
  justify-content: space-between;
}

.service__item {
  width: 330px;
  padding-top: 90px;
}

.service__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;;
  margin-bottom: 25px;
  position: relative;
}

.service__title::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  top: -90px;
}

.service__title-1::before {
  background: url(../images/services-icon1.svg);
}


.service__title-2::before {
  background: url(../images/services-icon2.svg);
}


.service__title-3::before {
  background: url(../images/services-icon3.svg);
}

.service__text {
  font-size: 16px;
  line-height: 160%;
}

/* Portfolio */

.portfolio__filter {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.portfolio__btn {
  margin-right: 35px;
}

.portfolio__btn:nth-child(4) {
  margin-right: 0;
}

.portfolio .portfolio__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}

.portfolio__item:nth-child(4) {
  margin-top: 45px;
}

.portfolio__btn-add {
  display: block;
  margin: 0 auto;
} 
