/* Reset */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

a, 
button {
  outline: 0;
}

/* Variables */

:root {
  --white: #fff;
  --white-05: rgba(255,255,255, 0.5);
  --grey: #F6F6F8;
  --light-grayish-blue: #E1E6F6;
  --light-blue :#DBDBED;
  --bright-blue-05: rgba(35, 82, 222, 0.5);
  --blue: #2352DE;
  --main-text: #333;
  --black: #000;
}

/* Global */

body {
  background-color: var(--white);
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--main-text);
}

/* .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 140px 0;
}

.title {
  display: inline-block;
  font-size: 48px;
  line-height: 130%;
  font-weight: 700;
  margin-bottom: 60px;
  position: relative;
  z-index: 1;
  /* Если убрать z-index, то в секции Навыки подчеркивание пропадает :)  */
}

.title::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 100%;
  left: 0;
  bottom: 5px;
  background-color: var(--light-grayish-blue);
  z-index: -1;
}

.btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  outline-width: 0;
  padding: 12px 24px;
  transition: box-shadow 0.5s, background-color 0.5s, color 0.5s, outline 0.5s;
}

.btn:focus {
  box-shadow: 0 0 0 3px var(--bright-blue-05);
}

.btn:hover {
  background-color: var(--white);
  color: var(--blue);
  outline: 1px solid var(--blue);
}

.btn:active {
  background-color: var(--blue);
  color: var(--white);
  box-shadow: inset 0 7px 4px rgba(0, 0, 0, 0.25);
}

/* Header */

.header {
  color: var(--white);
  height: 100vh;
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.header::before {
  content: '';
  background-color: var(--bright-blue-05);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 75px;
}

.logo {
  transition:  box-shadow 0.5s, opacity 0.5s;
}

.logo:focus {
  box-shadow: 0 0 0 3px var(--blue);
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}

.logo__img {
  width: 159px;
  height: 53px;
  object-fit: cover;
}

.menu {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 35px;
}

.menu-link {
  font-weight: 600;
  line-height: 130%;
  transition: box-shadow 0.5s, border-radius 0.5s, opacity 0.5s;
}

.header__content {
  height: calc(100vh - 128px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.header__content-title {
  width: 700px;
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  margin: auto 0;
}

.header__content-title-caption {
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
}

.header__content-link {
  position: relative;
  align-self: center;
  font-size: 18px;
  line-height: 130%;
  padding-bottom: 32px;
  margin-bottom: 30px;
  transition: box-shadow 0.5s, border-radius 0.5s , opacity 0.5s;
}
 
.header__content-link::before {
  position: absolute;
  content: '';
  width: 37px;
  height: 21px;
  background-image: url("../images/header-arrow.svg");
  left: 50%;
  transform: translateX(-50%);
  top: 33px;
}

.menu__list-link:focus,
.header__content-link:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.menu__list-link:hover,
.header__content-link:hover {
  text-decoration: underline;
}

.menu__list-link:active,
.header__content-link:active {
  opacity: 0.7;
}

/* About */

.about__text:not(:last-child) {
  margin-bottom: 23px;
}

/* Skills */

.skills {
  background-color: var(--grey);
}

.skills__inner {
  display: flex;
}

.skills__photo {

}

.skills__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 90px;
  width: 100%;
}

.skill__item {
  display: flex;
  justify-content: space-between;
}

.skill__item-title {
  width: 64px;
  height: 32px;
  /* Высоту указываю явно, потому что в макете высота 32px. Если не указать, то высота рассчитывается из размер шрифта * line-height, получается 28,8px. Это не соответствует макету */
  font-weight: 600;
  /* flex:none; Это свойство добавляю, чтобы при уменьшении ширины окна браузера у этого элемента заданная ширина 64px не уменьшалась :) */
}

.skill__item-row {
  background-color: var(--light-blue);
  max-width: 600px;
  width:100%;
  margin-left: auto;
  position: relative;
}

.skill__item-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--blue);
}

/* Services */

.services__list {
  display: flex;
  justify-content: space-between;
}

.service__item {
  max-width: 330px;
  width: 100%;
  padding-top: 90px;
  position: relative;
}

.service__item::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  width: 60px;
  height: 60px;
  top: 0;
}

.item-layout::before {
  background-image: url("../images/services-layout.svg");
}
.item-cms::before {
  background-image: url("../images/services-cms.svg");
}
.item-support::before {
  background-image: url("../images/services-support.svg");
}

.service__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;;
  margin-bottom: 25px;
}

.service__text {
  font-size: 16px;
  line-height: 160%;
}

/* Portfolio */

.portfolio {
  padding-bottom: 140px;
}

.portfolio__title {
  text-align: center;
}

.portfolio__filter {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.portfolio__btn {
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: var(--main-text);
  background-color: transparent;
  border: none;
  outline-width: 0;
  padding: 0;
  margin-right: 35px;
  transition: box-shadow 0.5s, border-radius 0.5s, color 0.5s;
}

.portfolio__btn:focus {
  box-shadow: 0 0 0 2 var(--bright-blue-05);
  border-radius: 3px;
}

.portfolio__btn:hover {
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
}

.mixitup-control-active {
  color: var(--blue);
}

.portfolio__btn:nth-child(4) {
  margin-right: 0;
}

.portfolio__gallery {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* align-items: flex-end; */
  margin-bottom: 60px;
}

.portfolio__item {
  position: relative;
}

.portfolio__item:hover::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-color: var(--bright-blue-05);
}

.portfolio__item:nth-child(n+4) {
  margin-top: 45px;
}

.portfolio__item-img {
  width: 360px;
  height: 360px;
  object-fit: cover;
}

.portfolio__load-link {
  display: flex;
  justify-content: center;
}
